.character {
    border: 7px solid rgb(88, 40, 121);
    display: flex;
    width: 1000px;
    margin: auto;
    margin-bottom: 10px;
    background-color: rgb(195, 166, 219);
   
}
img {
    padding-right: 15px;
    width: 300px;
}
.title {
    text-align: center;
    font: 3sem sans-serif;
}
body {
    background-color: rgb(156, 124, 209);
}

.text {
    display: flex;
    flex-direction: column;
    font-size: larger;
}